
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header text-center bg-warning text-white center"><h5 class=" title">Welcome To CIS</h5></div>
        


        <div class="card" >
          
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text"> The Aditya Birla Group is the 8th largest cement producer in the world and the seventh largest in Asia.
        
          </div>
        </div>

        <div class="card" >
          
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text"> UltraTech Concrete is produced and delivered through stringent quality measures to ensure absolute strength and durability.
         
          </div>
        </div>

        <div class="card" >
          
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text">  Birla White Cement is the product of a unique decolourising process, which prevents oxidation of iron in the clinker and maximizes whiteness.
         
          </div>
        </div>

        
        <div class="card" >
          
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text">  Technical service has a dedicated team of experienced and well trained application engineers who provide guidance before and after sales.
         
          </div>
        </div>

        
         

      
        
          <!-- <div class=" card-body">
            
            <a [routerLink]="['/otpLogin']" >
           view page
            </a>
</div>card end   -->
        <!-- <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Save</button>
        </div> -->
      </div>
    </div>
    
  </div>
</div> <!-- content end-->