<!-- 
<div class=" content" style="margin-top: 200px;margin-left: 200px;margin-right: 200px;">
   <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">        
        </div>
        <div class=" card-body text-center text-danger">
         Reject Successfully.
        </div>
      </div>
    </div>
   </div> 
</div> -->







<div class="row ">
  <div class="col-sm-4">
    </div>
  </div>
<div class="row ">
  <div class="col-sm-4"></div><div class="col-sm-4">

<div class="card text-center">
  <!-- <div class="card-header">
      OTP 
    </div> -->
<div class="card-body text-danger">
 

Reject Successfully.

</div>
</div>
</div>





